@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-raleway: Raleway, sans-serif;

  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  --breakpoint-wide: 100rem;

  --text-color-light-links: rgba(255, 255, 255, 0.87);
  --text-color-burger-links: #9966cc;
  --background-color-header: rgba(255, 255, 255, 0.97);

  --background-color-hamburger: rgba(255, 255, 255, 0.87);
}

@utility scrollbar-hidden {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

:root {
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

hr {
  border-color: #aaa;
  border-style: solid;
  border-width: 2px 0 0;
}

a {
  font-weight: 500;
  color: #663399;
  text-decoration: inherit;
}
a:hover {
  color: #552288;
}

#burgerLinks {
  display: none;
}

#buttonLink {
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.8em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #7744aa;
  }
  button {
    background-color: #f9f9f9;
  }
}

.blinkAnimate {
  color: #ddd;
  border: solid 2px;
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(10px) opacity(70%) sepia(80%);
  backdrop-filter: ;
  border-color: #ccc;

  animation-name: blink;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-duration: 3s;
  transition: 0.2s;
}

.blinkAnimate:hover {
  color: #fff;
  transition: 0.2s;
  border: solid 2px #fff;
  border-radius: 25px;
  animation-name: stop;
}

.blinkAnimate:active {
  translate-y: -20px;
}

@keyframes blink {
  0% {
    border-color: #ccc;
  }
  50% {
    border-color: #888;
  }
}
